<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <appSettings>
        <!-- Your oAuth keys -->
        <add key="ConsumerKey" value="" />
        <add key="ConsumerSecret" value="" />
        <add key="OAuthToken" value="" />
        <add key="AccessToken" value="" />
        <!-- The account that's going to do the re-tweeting -->
        <add key="account" value="" />
        <!-- The list of account to re-tweet from -->
        <add key="list" value="" />
        <!-- The # re-tweet -->
        <add key="hashtags" value="" />   
    </appSettings>
</configuration>
